.navbar .navbarLinks {
  flex-direction: column;
}
.MySelf {
  flex-direction: column;
}
.MySelf .MyIntro .links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.MySelf .MyIntro .MyPara {
  font-size: 1.1rem;
}
.MySelf .MyIntro {
}
.MySkills .CardsInSkills {
  display: flex;
  flex-direction: column;
}
.AboutMe .headdingInAboutMe h1 {
  font-size: 3rem;
  text-align: center;
}
.AboutMe .headdingInAboutMe h2 {
  font-size: 1.3rem;
  text-align: center;
}
.AboutMe .headdingInAboutMe P {
  font-size: 0.7rem;
  text-align: center;
}
.Projects {
  display: flex;
  flex-direction: column;
}
.Projects .CardsInProjects {
  display: flex;
  flex-direction: column;
}
.AboutMe .cardsInaboutMe .card1 {
  max-width: 15rem;
}
.AboutMe .cardsInaboutMe .card2 {
  max-width: 15rem;
}

.AboutMe .cardsInaboutMe .card3 {
  max-width: 15rem;
}
.Projects .CardsInProjects .ProjectCard1 {
  max-width: 45rem;
  width: 17rem;
}
